:root {
  --circle:clamp(20px,5vw,40px);
  --circle-border:calc(var(--circle)*0.1);
  --circle-text-gap:clamp(2px,2vw,10px);
  --haken-left:calc(var(--circle)/4);
  --haken-top:calc(var(--circle)/20);
  --haken-width:calc(var(--circle)/2.666666666666667);
  --hacken-height:calc(var(--circle)/1.6);
  --border-width:calc(var(--circle)/13.34);
}


.t1 {
  color:white;
  text-decoration: none;
  flex-shrink: 0;
  display: inline-block;
  font-size: clamp(20px,5vw,40px);
  font-family: serif, Calibri;
}

.Selectbox {
  display: flex;
  align-items: center;
  gap: var(--circle-text-gap);
  width: 100%;
  padding: 0;
  margin: 50px 0 50px 0;
}

 .t2 {
  color:white;
  text-decoration: none;
  flex-shrink: 0;
  display: inline-block;
  font-size: 9vw;
  font-family: serif, Calibri;
}

.Überschrift{

  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 0;
  margin: 5px 0 5px 0;
}

.Addbox {
  display: flex;
  align-items: center;
  gap: var(--circle-text-gap);
  width: 100%;
  padding: 0;
  margin: 50px 0 50px 0;
}

.image {
  width: 13%;
}

.t3{
  color:white;
  text-decoration: none;
  font-size: 5vw;
  font-family: serif, Calibri;
}

.zurück{
  text-decoration: none;
  color:white;
}

body { background-color: #000080}

.haken {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  flex-shrink: 0;
  margin: 0 40px 0 30px;
}

.haken input {
  display: none;
}

.haken span{
  width: var(--circle);
  height: var(--circle);
  border: var(--circle-border) solid white;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

.haken input:checked + span::after {
  content: "";
  position: absolute;
  left: var(--haken-left);
  top: var(--haken-top);
  width: var(--haken-width);
  height: var(--hacken-height);
  border: solid white;
  border-width: 0 var(--border-width) var(--border-width) 0;
  transform: rotate(45deg);
}

hr {
  border: 5px solid #305CDE;
  width: 100%;
  margin: 50px 0 50px 0;
}



